@inject IDialogService DialogService

@using Leads.Model
@using MudBlazor
@inject HttpClient Http

<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h6">Editar Lead</MudText>

        <div class="d-flex flex-column gap-y-3">
            <MudTextField @bind-Value="LeadData.Cnpj" Label="CNPJ" Disabled="true" />
            <MudTextField @bind-Value="LeadData.RazaoSocial" Label="Razão Social" />
            <MudTextField @bind-Value="LeadData.Cep" Label="CEP" />
            <MudTextField @bind-Value="LeadData.Estado" Label="Estado" />
            <MudTextField @bind-Value="LeadData.Cidade" Label="Cidade" />
            <MudTextField @bind-Value="LeadData.Bairro" Label="Bairro" />
            <MudTextField @bind-Value="LeadData.Endereco" Label="Endereco" />
            <MudTextField @bind-Value="LeadData.Numero" Label="Numero" />
            <MudTextField @bind-Value="LeadData.Complemento" Label="Complemento" />
        </div>
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Filled" Class="fw-bolder" Color="Color.Secondary" OnClick="Cancel">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Class="fw-bolder" Color="Color.Success" OnClick="Save">Salvar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] 
    IMudDialogInstance MudDialog { get; set; }

    [Parameter] public Lead LeadData { get; set; }

    private async Task Save()
    {
        HttpResponseMessage? response = await Http.PutAsJsonAsync("http://localhost:5107/api/lead/update", LeadData);

        if (response.IsSuccessStatusCode)
        {
            MudDialog.Close(DialogResult.Ok(true));

            DialogParameters? parameters = new DialogParameters { ["Message"] = "Lead cadastrado com sucesso!" };
            DialogOptions? options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
            DialogService.ShowAsync<SuccessDialog>("SucessDialog", parameters, options);

            StateHasChanged();
        }
        else
        {
            DialogParameters? parameters = new DialogParameters { ["Message"] = "Erro ao editar lead. Por favor, revise os dados e tente novamente" };
            DialogOptions? options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
            DialogService.ShowAsync<ErrorDialog>("ErrorDialog", parameters, options);
        }
    }

    private void Cancel() => MudDialog.Cancel();
}